extends layout

block content
  h1= title
  p Welcome to #{title}
  p This game uses #[a(href='http://www.pixijs.com/') Pixi.js] as a framework on WebGL and Canvas. #[strong This game will invoke your GPU!]
