extends layout

block content
  p This game uses #[a(href='http://www.pixijs.com/') Pixi.js] as a framework on WebGL and Canvas. #[strong This game will invoke your GPU!]
  p Use your arrow keys to move, space bar to lash your tongue. Watch out for wasps!
