doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js')
    script(type='text/javascript' src='javascripts/stats.min.js')
    script(type='text/javascript' src='javascripts/keyboard.js')
    script(type='text/javascript' src='javascripts/game-client.js')
